html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*

-----------------
  Clearfix

-----------------
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}


body {
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", "Helvetica", Arial, sanas-serif;
    width: 1280px;
}

header {
  width: 1280px;
  height: 40px;
  background-color: #fff;
}

header h1 {
  text-transform: uppercase;
  font-weight: 900;
  margin-left: 300px;
  margin-top: 20px;
  font-size: 20px;
  color: #000;
    margin-bottom: 1px;
}

em {
    color: #54c3ff;
}

#nav-elements {
/*    text-align: right; */
    margin-top: 0;
    float: right;
    margin-top: -16px;
    margin-right: 60px;
     margin-bottom: 1px;
    padding-bottom: 23px;
}

#nav-elements a {
     text-transform: uppercase;
    margin-right:  30px;
    color: #888888;
    font-family: sans-serif;
    font-weight: 500;
}


section {
    padding-top: 1px;
    margin-top: 1px;
}

.intro {
   float: left;
   padding-top: 120px;
   height: 260px;
   width: 49.9%;
   background-color: rgba(247, 248, 252, 1);
   box-shadow: 1px;
  margin-left: 51px;
}

h2{
    font-size: 29px;
    font-weight: 800;
    font-family: Kommon Grotesk Extended SemiBold;
     color: #000;
}

p {
    margin-top: 9px;
    color: #888888;
    font-size: 13px;
    font-weight: 400;
}

h2,  p {
    float: left;
     margin-left: 300px;
    font-family: Lato;
}

.distinct {
    font-weight: 900;
}

.girl {
    background-image: url(girl.png);
    height: 379px;
    float: right;
    width: 41.4%;
    margin-right: 60px;
}

.wrapper {
    width: 1280px;
    text-align: center;
    height: 202px;
}

.bio {
    float: right;
    height: 400px;
    width: 41.3%;
    margin-right: 60px;
   padding-top: 158px;
    margin-left: 1px;
}

.bio-p {
    padding-right: 100px;
    text-align: justify;
}
